{% extends 'nittutorial/homepage.html' %}
{% load staticfiles %}
{% load mkrange %}
{% block content %}
<pre><p>
		{% for key in data %}
        Handle is : {{ key.handle }}<br>
        Rating is : {{ key.rating }}<br>
        Contribution: {{ key.contribution }}<br>
        Rank : {{ key.rank }}<br>
        MaxRating is :{{ key.maxRating }}<br>
        Profile Link :<a href="http://codeforces.com/profile/{{ key.handle }}">http://codeforces.com/profile/{{ key.handle }}</a><br>
          {% endfor %}
      </p></pre>
{% endblock %}