{% extends 'nittutorial/homepage.html' %}
{% load staticfiles %}
{% load mkrange %}
{% block content %}
	<script src="{% static 'nittutorial/js/editor.js' %}"></script>
		<script>
			$(document).ready(function() {
				var con = $("#id_content").text();
				$("#id_content").Editor();
				$("#id_content").Editor("setText",con);
			$("#s2").click(function () {
                    $('#id_content').text($('#id_content').Editor("getText", ["<button>"]));
                    alert($('#id_content').text());
                });
			});
		</script>
		<link href="{% static 'nittutorial/css/editor.css' %}" type="text/css" rel="stylesheet"/>
	<div class="container">
    <h1>Tutorial Creation </h1>
   
    <form method="post">{% csrf_token %}
    <div class="row">
    <div class="col-lg-8 form-group">
   		{% if form.topicId.errors %}
    		
    		{% for error in form.topicId.errors %}
        	 <div class="alert alert-danger">
                         <strong>Oh snap!</strong> {{ error|escape }} 
        	</div>
    	{% endfor %}
    		
		{% endif %}
                <label for="{{ form.topicId.id_for_label }}">Select Topic: </label>
                
                                <span class="form-control">
                                {{form.topicId}}</span>
                              <!--   <select class="form-control" id="id_topicId">
                                 
                                </select> -->
                <p class="help-block">Select Topic of Tutorial</p>
    </div></div>
    <div class="row">
    <div class="col-lg-8 form-group">
   		{% if form.title.errors %}
    		
    		{% for error in form.title.errors %}
        	 <div class="alert alert-danger">
                         <strong>Oh snap!</strong> {{ error|escape }} 
        	</div>
    	
    		{% endfor %}
		{% endif %}
                <label for="{{ form.title.id_for_label }}">Title</label>
                <input class="form-control" id="id_title"> 
                <p class="help-block">Enter Title of Tutorial</p>
    </div></div>
    <div class="col-lg-8 form-group">
   		{% if form.title.errors %}
    		
    		{% for error in form.title.errors %}
        	 <div class="alert alert-danger">
                         <strong>Oh snap!</strong> {{ error|escape }} 
        	</div>
    	
    		{% endfor %}
		{% endif %}
                <label for="{{ form.title.id_for_label }}">Title</label>
                <input class="form-control" id="id_authorId"> 
                <p class="help-block">Enter Title of Tutorial</p>
    </div></div>
    <div class="col-lg-8 form-group">
   		{% if form.title.errors %}
    		
    		{% for error in form.title.errors %}
        	 <div class="alert alert-danger">
                         <strong>Oh snap!</strong> {{ error|escape }} 
        	</div>
    	
    		{% endfor %}
		{% endif %}
                <label for="{{ form.title.id_for_label }}">Title</label>
                <input class="form-control" id="id_complexity"> 
                <p class="help-block">Enter Title of Tutorial</p>
    </div></div>
     <div class="row">
    <div class="col-lg-8 form-group">
   		{% if form.subject.errors %}
    		
    		{% for error in form.title.errors %}
        	 <div class="alert alert-danger">
                         <strong>Oh snap!</strong> {{ error|escape }} 
        	</div>
    		{% endfor %}
		{% endif %}
                <label for="{{ form.complexity.id_for_label }}">Complexity</label>
                 <select class="form-control" id="id_complexity1">
                                  <option>Easy</option>
                                  <option>Medium</option>
                                  <option>Hard</option>
                                  <option>Expert</option>
                 </select>
                <p class="help-block">Enter Complexity of Tutorial</p>
    </div></div>
    <div class="row">
    <div class="col-lg-8 form-group">
   		{% if form.rating.errors %}		
    		{% for error in form.rating.errors %}
    		 <div class="alert alert-danger">
                         <strong>Oh snap!</strong> {{ error|escape }} 
        	</div>
    	{% endfor %}
    		
		{% endif %}
                <label for="{{ form.rating.id_for_label }}">Rating</label>
                <input class="form-control" id="id_rating"> 
                <p class="help-block">Expected Rating </p>
    </div></div>
    
    <div class="row">
    <div class="col-lg-8 form-group">
   		{% if form.slug.errors %}
    		
    		{% for error in form.slug.errors %}
        	 <div class="alert alert-danger">
                         <strong>Oh snap!</strong> {{ error|escape }} 
        	</div>
    	{% endfor %}
    		
		{% endif %}
                <label for="{{ form.slug.id_for_label }}">Slug (Optional)</label>
                <input class="form-control" id="id_slug"> 
                <p class="help-block"> Tutorial Link</p>
    </div></div>

    <div class="row">
    <div class="col-lg-8 form-group">
   		{% if form.tags.errors %}
    		
    		{% for error in form.tags.errors %}
        	 <div class="alert alert-danger">
                         <strong>Oh snap!</strong> {{ error|escape }} 
        	</div>
    	{% endfor %}
    		
		{% endif %}
                <label for="{{ form.tags.id_for_label }}">Tags</label>
                <input class="form-control" id="id_tag"> 
                <p class="help-block">Tags(Comma seperated) </p>
    </div></div>
    
    <div class="row">
    <div class="col-lg-8 form-group">
   		{% if form.content.errors %}
    		
    		{% for error in form.content.errors %}
        	 <div class="alert alert-danger">
                         <strong>Oh snap!</strong> {{ error|escape }} 
        	</div>
        	    	{% endfor %}
    		
		{% endif %}
                <label for="{{ form.content.id_for_label }}">Tutorial Content</label>
                <input class="form-control" id="id_content"> 
                <p class="help-block">Add content of Tutorial</p>
    </div></div>

    <button type="submit" id="s2" class="btn  btn-primary">SUBMIT</button>
</form></div>

{%endblock%}