{% extends 'nittutorial/index.html' %}
{% load staticfiles %}
{% load mkrange %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
	alert('{{tutorial.content}}');
	$("#content").append('{{tutorial.content}}');
});
</script>
<h1>{{ tutorial.title }}</h1>
<p id="content"></p>
<h4>{{ tutorial.complexity }}</h4>
<h4>Rating is : {{ tutorial.rating }}</h4>
<h4>Publish Date : {{ tutorial.publishedDate }}</h4>
{% for e in tag %}
<h1>{{ e }}</h1>
{% endfor %}
{% endblock %}