{% extends 'nittutorial/index.html' %}
{% load staticfiles %}
{% load mkrange %}
{% block content %}
<pre>
		{% for key in data %}
                 <p> Problem is : {{ key.problem }}</p>
                  <p>ContestId is : {{ key.contestId }}{{key.index}}</p>
                  <p>Link is : <a href="http://codeforces.com/problemset/problem/{{key.contestId}}/{{key.index}}">http://codeforces.com/problemset/problem/{{key.contestId}}/{{key.index}}</a></p>
          {% endfor %}
      </pre>
{% endblock %}