{% load staticfiles %}
{% load mkrange %}
<script src="{% static 'nittutorial/paginator/jquery.twbsPagination.min.js' %}"></script>
    
{% block content %}
 Categories
          {% for tag in tags %}
           <a href="{% url 'tagged1' tag.slug %}"><span class="label label-danger">{{tag.slug}}</span></a>
          {% empty %}
            No Tags
          {% endfor %}
 {% for tut in tutorials %}    
        <div class="col-md-6 col-sm-6">
            
             <div class="card-container">
           
                <div class="card">
                    <div class="front">
                        <div class="user"> 
                            <img class="img-circle" src="{% static 'nittutorial/images/rotating_card_profile3.png ' %}"/> 
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name"><a href="{% url 'post_content' title=tut.title id=tut.pk %}" class="side_color">{{ tut.title }}</a></h3>

                               <h4> <p class="text-center"><span class="label label-success">
                                    Authored By: &nbsp; {{tut.authorId}}
                                    </span></p></h4>
                                <br>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> <strong>Difficulty</strong> : {{tut.complexity}}</h5>
                                <h5><i class="fa fa-building-o fa-fw text-muted"></i> <strong>Published Date </strong>: {{ tut.publishedDate|date:"M d, Y"  }}</h5>
                            

                            </div>
                            <div class="footer">
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->

        </div> <!-- end col sm 3 -->
        {% empty %}
      There are no tutorials, sorry.
    {% endfor %}
    <ul id="pagination-demo" class="pagination-sm"></ul>

    <script >
    $('#pagination-demo').twbsPagination({
        totalPages: 35,
        visiblePages: 7,
        onPageClick: function (event, page) {
            $('#page-content').text('Page ' + page);
        }
    });
</script>
{% endblock %}